<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fingertech.kes">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activity.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        SplashScreen
        <activity
            android:name=".Activity.Masuk"
            android:label="Masuk"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fingertech.kes.Activity.OpsiMasuk" />
        </activity>
        Masuk
        <activity
            android:name=".Activity.OpsiDaftar"
            android:label="Registrasi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fingertech.kes.Activity.OpsiMasuk" />
        </activity>
        OpsiDaftar
        <activity
            android:name=".Activity.DaftarPublic"
            android:label="Daftar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fingertech.kes.Activity.OpsiDaftar" />
        </activity>
        DaftarPublic
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        MainActivity
        <activity
            android:name=".Activity.OpsiMasuk"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkStatusBar" />
        OpsiMasuk
        <activity android:name=".Activity.UpdateProfile" />
        UpdateProfile
        <service android:name=".Service.FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        FirebaseMessaging
        <service android:name=".Service.FirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        FirebaseIdService

        <activity
            android:name=".Activity.DaftarParent"
            android:label="Daftar Orangtua"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fingertech.kes.Activity.OpsiDaftar" />
        </activity>
        DaftarParent
    </application>

</manifest>